OPENAI_API_KEY=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_WEBHOOK_TEST_SECRET=
MERCADOPAGO_PRO_PLAN_ID=
MERCADOPAGO_BUSINESS_PLAN_ID=
